PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://eventspace_g4ko_user:eD7uI296sD0d7zvChfDYRPwCZJAVqzCS@dpg-d8mubi3bc2fs73edfft0-a/eventspace_g4ko
JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=7d

ADMIN_EMAIL=admin@eventspace.com
ADMIN_PASSWORD=Admin123!ChangeMe

